body {
  background-image: url("https://images.photowall.com/products/60721/white-marble-3.jpg?h=699&q=85");
}
.navbar nav-bar header {
  background: linear-gradient(#b8ece8);
}
.navbar-brand {
  background-color: #c6ebe8;
  color: rgb(217, 228, 247);
}
/* .container {
background-image: url("https://images.photowall.com/products/60721/white-marble-3.jpg?h=699&q=85");
} */
.container {
  position: relative;
  text-align: center;
}
img {
  float: right;
}
